{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Uninstall Equipments
{% endblock %}

{% block vars %}
<script type="text/javascript">
	var addressSearchLocation       = '{{path('Equipments_searchLocation')}}';
	var addressLoadDetails    		= '{{path('Equipments_loadDetails')}}';
	var addressCreateUninstallation = '{{path('Equipments_createUninstallation')}}';
</script>
{% endblock %}

{% block css %}
<link href="{{asset('bundles/rtocore/css/jquery-ui.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtocore/css/jquery-ui.structure.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtoequipments/js/jquery-multiselect/css/multi-select.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtoequipments/js/jquery-multiselect/js/jquery.multi-select.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtoequipments/js/uninstallEquipments/new.min.js')}}"></script>
{% endblock %}

{% block  content %}
<div>
	Uninstall Equipments
</div>
<form method="POST" name="form" id="form" class="install" onsubmit="return false;">
	<p>
		<label for="date">Date: </label>
		<input type="text" name="date" id="date" required value='{{ "now"|date("Y-m-d") }}'>
	</p>
	<p>
		<label for="project">Project: </label>
		<select name="project" id="project" required>
			<option value="">Choose..</option>
			{% for element in projects %}
			<option value="{{element.project.id}}">{{element.project.name}}</option>
			{% endfor %}
		</select>
		<span class="loader" id="loader-project"></span>
	</p>
	<p>
		<label for="location">Location: </label>
		<select name="location" id="location" required disabled>
			<option value="">Choose..</option>
		</select>
		<span class="loader" id="loader-location"></span>
	</p>
	<div class="multi-select">
		<a href='#' id='select-all'>select all</a> / 
		<a href='#' id='deselect-all'>deselect all</a>
		<select id='equipments' multiple='multiple' name="equipments[]" >
		</select>
	</div>
	<p>
		<label for="comments">Comments / Others Devices: </label>
		<textarea name="comments" id="comments"></textarea>
	</p>
	<p>
		<label for="type">Type: </label>
		<input type="radio" id="uninstallation" value="uninstallation" name="type" checked="checked"> <label for="uninstallation" class="label-radio"> Uninstallation</label>
		<input type="radio" id="move" name="type" value="move"> <label for="move" class="label-radio"> Move</label>
	</p>
	<p id="uninstall-equip">
		<label for="center">Moving to: </label>
		<select name="center" id="center" required>
			<option value="">Choose..</option>
			{% for element in centers %}
			<option value="{{element.id}}">{{element.name}}</option>
			{% endfor %}
		</select>
	</p>
	<p id="move-equip">
		<label for="projects-move">Projects: </label>
		<select name="projects-move" id="projects-move" disabled required>
			<option value="">Choose..</option>
			{% for element in projects %}
			<option value="{{element.project.id}}">{{element.project.name}}</option>
			{% endfor %}
		</select>
		<span class="loader" id="loader-center"></span>
		<label for="location-center">Locations: </label>
		<select name="center" id="location-center" required disabled>
			<option value="">Choose..</option>
		</select>
	</p>
	<p>
		<label for="responsable">Responsable: </label>
		<select name="responsable" id="responsable" required>
			<option value="">Choose..</option>
			{% for element in users %}
			<option value="{{element.user.id}}" {% if element.user.id == app.session.get('user').id %} selected {% endif %}>{{element.user.userid}} - {{element.user.name}} {{element.user.lastname}}</option>
			{% endfor %}
		</select>
	</p>
	<p>
		<label for="state">State: </label>
		<select name="state" id="state" required>
			<option value="0">To do</option>
			<option value="1">Done</option>
		</select>
	</p>
	<p id="notify">
		<label>Notify to: </label>
	</p>
	<div id="notify" class="multi-select">
		<a href='#' id='select-all-notify'>select all</a> / 
		<a href='#' id='deselect-all-notify'>deselect all</a>
		<select id='refer' multiple='multiple' name="refer[]" >
			{% for element in users %}
				{% if element.user.role != "ROLE_ADMIN" %}
					<option value="{{element.user.email}}">{{element.user.name}} {{element.user.lastname}}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
	<p>
		<span class="loader" id="loader-login"></span>
		<button type="submit">
			Save
		</button>
	</p>
</form>
{% endblock %}
