{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Brands
{% endblock %}

{% block css %}
<link href="{{asset('bundles/rtocore/js/jquery-datatable/media/css/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/css/dataTables.tableTools.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block vars %}
<script type="text/javascript">
	var addressDeleteBrand = '{{path('Admin_deleteBrand')}}';
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/media/js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtoadmin/js/brands/index.min.js')}}"></script>
{% endblock %}

{% block  content %}
<div>
	Brands
</div>
<p>
	<button type="button" class="new-button" route="{{url}}">New Brand</button>
</p>
<div class="clear"></div>
	<table id="brands">
		<thead>
			<tr>
				<td>Brand</td><td>Options</td>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr id="row-{{row.brand.id}}">
				<td>{{row.brand.name}} </td>
				<td><a href="{{row.edit}}">Edit</a> <a href="javascript:void(0)" class="delete" pk="{{row.brand.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block  widget %}
<section>
	<div>
		Information
	</div>
	{% render (controller('RtoAdminBundle:Admin:countBrands')) %}
</section>
{% endblock %}
