{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Locations
{% endblock %}

{% block css %}
<link href="{{asset('bundles/rtocore/js/jquery-datatable/media/css/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/css/dataTables.tableTools.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block vars %}
<script type="text/javascript">
	var addressDeleteLocations = '{{path('Admin_deleteLocation')}}';
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/media/js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtoadmin/js/locations/index.min.js')}}"></script>
{% endblock %}

{% block  content %}
<div>
	Locations
</div>
<p>
	<button type="button" class="new-button" route="{{url}}">New Location</button>
</p>
<div class="clear"></div>
	<table id="locations">
		<thead>
			<tr>
				<td>Location</td><td>Type of Location</td><td>Project</td><td>Options</td>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr id="row-{{row.location.id}}">
				<td>{{row.location.name}} </td>
				<td>{{row.location.typeLocations.name}} </td>
				<td>{% if row.location.projects is null %}...{% else %}{{row.location.projects.name}} {% endif %}</td>
				<td><a href="{{row.edit}}">Edit</a> <a href="javascript:void(0)" class="delete" pk="{{row.location.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block  widget %}
<section>
	<div>
		Information
	</div>
	{% render (controller('RtoAdminBundle:Admin:countLocations')) %}
</section>
{% endblock %}
