{% extends "RtoCoreBundle:layout:index.html.twig" %}

{% block  title %}
Type of Locations
{% endblock %}

{% block css %}
<link href="{{asset('bundles/rtocore/js/jquery-datatable/media/css/jquery.dataTables.min.css')}}" type="text/css" rel="stylesheet">
<link href="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/css/dataTables.tableTools.min.css')}}" type="text/css" rel="stylesheet">
{% endblock %}

{% block vars %}
<script type="text/javascript">
	var addressDeleteTypeLocations = '{{path('Admin_deleteTypeLocations')}}';
</script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/media/js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtocore/js/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/rtoadmin/js/typeLocations/index.min.js')}}"></script>
{% endblock %}

{% block  content %}
<div>
	Type of Locations
</div>
<p>
	<button type="button" class="new-button" route="{{url}}">New Type of Locations</button>
</p>
<div class="clear"></div>
	<table id="typeLocations">
		<thead>
			<tr>
				<td>Type of Location</td><td>Options</td>
			</tr>
		</thead>
		<tbody>
			{% for row in data %}
			<tr id="row-{{row.type.id}}">
				<td>{{row.type.name}} </td>
				<td><a href="{{row.edit}}">Edit</a> <a href="javascript:void(0)" class="delete" pk="{{row.type.id}}">Delete</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block  widget %}
<section>
	<div>
		Information
	</div>
	{% render (controller('RtoAdminBundle:Admin:countTypeLocations')) %}
</section>
{% endblock %}

